body {
  font-family: Roboto, sans-serif;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: 700;
  padding: 1.5rem 0 0.7rem;
}

input,
textarea {
  padding: 0.5rem;
}

textarea {
  font-family: inherit;
}

h3#logo {
  font-family: Coda, cursive;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin: 0;
}

#save-button {
  padding: 10px 15px;
}

.border-radius {
  border-radius: 5px;
}

.accent-color {
  background-color: rgb(41, 41, 112);
}

.white-text {
  color: white;
}

.padding-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-1-top {
  padding-top: 1rem;
}

.text-align-right {
  text-align: right;
}
